.material-symbolscall-outline-icon {
    width: 26px;
    position: relative;
    height: 26px;
    overflow: hidden;
    flex-shrink: 0;
}
.div {
    position: relative;
}
.material-symbolscall-outline-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.tailor-my-trip {
    position: relative;
    font-weight: 600;
}
.weuiarrow-filled-icon {
    width: 12px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.tailor-my-trip-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 19px;
    color: #ddb465;
}
.frame-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 65px;
}
.material-symbolstravel-icon {
    width: 42px;
    position: relative;
    height: 42px;
    overflow: hidden;
    flex-shrink: 0;
}
.cungkuo-tour {
    position: relative;
    font-weight: 500;
}
.material-symbolstravel-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.icsharp-expand-more-icon {
    width: 36px;
    position: relative;
    height: 36px;
    overflow: hidden;
    flex-shrink: 0;
}
.china-tours-parent {
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.contact-us-wrapper {
    width: 152px;
    border-radius: 3px;
    background-color: #1e1e1e;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.frame-parent2 {
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
}
.icbaseline-search-parent {
    width: 251px;
    border-radius: 5px;
    border: 1px solid #b4b4b4;
    box-sizing: border-box;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    gap: 17px;
    font-size: 18px;
    color: #707070;
}
.frame-parent1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 44px;
    font-size: 22px;
}
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 110px;
    font-size: 36px;
}
.frame-parent {
    position: absolute;
    top: 29px;
    left: 92px;
    width: 1256px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 27px;
}
.image-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 539px;
    object-fit: cover;
}
.image-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    width: 1440px;
    height: 539px;
}
.image-parent {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 1440px;
    height: 539px;
}
.top-10-best {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.private-bespoke {
    width: 1027px;
    position: relative;
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-10-best-china-tours-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.top-10-inner {
    position: absolute;
    top: 357px;
    left: 255px;
    width: 935px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 66px;
    color: #fff;
}
.home-china {
    position: absolute;
    top: 187px;
    left: 99px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    width: 617px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.discover-the-best {
    width: 1296px;
    position: relative;
    display: inline-block;
}
.discover-the-best-of-china-wit-wrapper {
    position: absolute;
    top: 754px;
    left: 65px;
    width: 1244px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
}
.what-our-clients {
    align-self: stretch;
    position: relative;
}
.great-customized-service {
    width: 1298px;
    position: relative;
    font-size: 18px;
    display: inline-block;
}
.what-our-clients-say-parent {
    width: 1310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.vector-icon {
    width: 19px;
    position: relative;
    height: 31.3px;
    transform:  rotate(180deg);
}
.weuiarrow-filled {
    width: 56px;
    border-radius: 10px;
    background-color: #707070;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 4px;
    box-sizing: border-box;
    transform:  rotate(-180deg);
}
.image-10-icon {
    width: 49px;
    position: relative;
    border-radius: 9999px;
    height: 50px;
    object-fit: cover;
}
.renato-cristine {
    align-self: stretch;
    position: relative;
    font-weight: 600;
}
.november-2024 {
    align-self: stretch;
    position: relative;
    color: #959595;
    text-align: left;
}
.renato-cristine-faro-parent {
    width: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.image-10-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.line-mdstar-filled-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.line-mdstar-filled-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.frame-parent7 {
    width: 274px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.i-recently-concluded {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    text-align: left;
}
.frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.frame-wrapper {
    width: 386px;
    border-radius: 10px;
    background-color: #f4f4f4;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.frame-parent5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.vector-icon1 {
    width: 19px;
    position: relative;
    height: 31.3px;
}
.weuiarrow-filled1 {
    width: 56px;
    border-radius: 10px;
    background-color: #707070;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 4px;
    box-sizing: border-box;
}
.weuiarrow-filled-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-size: 18px;
}
.frame-parent4 {
    width: 1358px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.contact-a-travel {
    width: 1298px;
    position: relative;
    display: inline-block;
}
.contact-a-travel-expert-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.to-1-service {
    width: 538px;
    position: relative;
    font-size: 22px;
    display: inline-block;
}
.frame-parent14 {
    width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}
.start-planning-wrapper {
    width: 452px;
    border-radius: 5px;
    background-color: #ddb465;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
.frame-parent13 {
    width: 629px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.image-6-parent {
    width: 304px;
    box-shadow: 2px 4px 17.1px rgba(131, 131, 131, 0.25);
    background-color: #fff;
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.image-6-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 185px;
    flex-shrink: 0;
    object-fit: cover;
}
.frame-parent11 {
    width: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 34px;
}
.kevin-yang {
    width: 148px;
    position: relative;
    font-weight: 500;
    display: inline-block;
}
.kevin-yang-wrapper {
    width: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.senior-travel-expert {
    width: 223px;
    position: relative;
    font-size: 18px;
    color: #000;
    display: inline-block;
}
.frame-parent16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.image-6-parent {
    width: 202px;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.frame-parent15 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 29px;
}
.frame-wrapper3 {
    width: 728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
    color: #b25021;
}
.frame-parent12 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.whether-you-are {
    width: 1298px;
    position: relative;
    font-size: 18px;
    text-align: justify;
    display: inline-block;
}
.china-tour-by-themes-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 36px;
    color: #000;
}
.image-7-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 304px;
    height: 246px;
    object-fit: cover;
}
.image-8 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 304px;
    height: 246px;
}
.top-10-china {
    position: absolute;
    top: 109px;
    left: 38px;
}
.image-7-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 304px;
    height: 246px;
}
.group-wrapper {
    width: 304px;
    position: relative;
    height: 246px;
}
.image-8-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 304px;
    height: 246px;
}
.group-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.frame-parent19 {
    width: 1310px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 42px;
    font-size: 24px;
    color: #fff;
}
.frame-wrapper7 {
    width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vector-icon2 {
    width: 57.9px;
    position: relative;
    height: 64.6px;
}
.dashiconsadmin-users {
    width: 160px;
    border-radius: 999px;
    background-color: #544d3a;
    height: 160px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px 11px;
    box-sizing: border-box;
}
.travel-expert-know {
    width: 223px;
    position: relative;
    display: inline-block;
}
.travel-expert-know-places-ins-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mingcutetask-2-fill-icon {
    width: 66px;
    position: relative;
    height: 66px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent22 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 58px;
}
.frame-wrapper8 {
    width: 728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}
.frame-parent21 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
}
.beijing {
    width: 106px;
    position: relative;
    display: inline-block;
}
.beijing-parent {
    width: 106px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.frame-parent26 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    text-align: left;
    font-size: 20px;
}
.hot-destinations-parent {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
    text-align: center;
}
.review-by-clients {
    width: 256px;
    position: relative;
    display: inline-block;
}
.frame-wrapper16 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}
.company-parent {
    width: 216px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
}
.customer-center {
    width: 181px;
    position: relative;
    display: inline-block;
}
.resource-parent {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
}
.frame-parent25 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 58px;
}
.tablerclock-filled-icon {
    width: 50px;
    position: relative;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
}
.parent {
    width: 168px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
    font-size: 20px;
    color: #fff;
}
.were-at-your-service-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 31px;
}
.tablerclock-filled-parent {
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    color: #ddb465;
}
.frame-parent24 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 92px;
}
.vector-icon3 {
    width: 25px;
    position: relative;
    height: 17.5px;
}
.mdiyoutube {
    width: 48px;
    border-radius: 999px;
    background-color: #fff;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 3px;
    box-sizing: border-box;
}
.icbaseline-facebook-icon {
    width: 30px;
    position: relative;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
}
.mdiyoutube-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
}
.frame-parent23 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 61px;
}
.frame-wrapper15 {
    align-self: stretch;
    background-color: #544d3a;
    height: 454px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.frame-wrapper14 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 28px;
    color: #fff;
}
.frame-parent3 {
    position: absolute;
    top: 3521px;
    left: 0px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 135px;
    text-align: center;
    font-size: 36px;
}
.top-10-china-tours-20252026-parent {
    width: 1244px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    text-align: left;
    font-size: 36px;
}
.image-6-icon3 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 216px;
    flex-shrink: 0;
    object-fit: cover;
}
.beijing-xian {
    width: 296px;
    position: relative;
    font-size: 22px;
    display: inline-block;
}
.beijing-xian-shanghai {
    align-self: stretch;
    position: relative;
    font-weight: 500;
    color: #a7a7a7;
}
.beijing-xian-shanghai-best-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.explore-this-tour-wrapper {
    width: 269px;
    border-radius: 5px;
    border: 1px solid #ddb465;
    box-sizing: border-box;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #ddb465;
}
.frame-parent29 {
    width: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 34px;
}
.image-6-parent1 {
    width: 415px;
    box-shadow: 2px 4px 17.1px rgba(131, 131, 131, 0.25);
    background-color: #fff;
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.image-6-parent2 {
    width: 414px;
    box-shadow: 2px 4px 17.1px rgba(131, 131, 131, 0.25);
    background-color: #fff;
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.frame-wrapper19 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent27 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.top-10-child {
    position: absolute;
    top: 898px;
    left: 65px;
    width: 1310px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
}
.in-depth-china-tours-for-retur-parent {
    width: 1244px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.image-6-icon12 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 185px;
    flex-shrink: 0;
    object-fit: cover;
}
.image-6-parent10 {
    width: 304px;
    box-shadow: 2px 4px 17.1px rgba(131, 131, 131, 0.25);
    background-color: #fff;
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.frame-wrapper24 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
}
.top-10-inner1 {
    position: absolute;
    top: 2760px;
    left: 65px;
    width: 1310px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 36px;
}
.top-10 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 7119px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
}